<tr id="{{_id}}">
  <td class="article_image">
    <span class="image_wrap">
      <a data-article_id="{{_id}}" data-guid="{{guid}}" href="{{link}}" target="_blank">
        <img src="{{image}}" alt="title" />
      </a>
    </span>
  </td>
  <td>
    <a data-article_id="{{_id}}" data-guid="{{guid}}" href="{{link}}" target="_blank"><h6>{{title}}</h6></a>
    <small>Posted {{pubdate}}</small>
    <p>{{description}}</p>
  </td>
  <td class="action_icons">
    <i class="fas fa-save fa-2x save" title="Save Article" data-article_id="{{_id}}" data-guid="{{guid}}"></i>
  </td>
</tr>